html, 
body{
	width:100%;
	height:100%;
	color:#FFF;
	font-size:20px;
	line-height:26px;
	font-family:"Helvetica Neue", "Garamond", "Arial", sans-serif;
}

.disable-select{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


div.main.ng-scope{
	/*height:100% !important;*/
}

.container-fluid{
	/*height:100%;*/
}

a{
	color:#FFF;
}

.bold{
	font-weight:bold;
}

br{
	margin-bottom:15px;
}

li{
	list-style:none;
	text-decoration:none;
	margin-top:-50px !important;
	margin-bottom:0px !important;
}

/* TOOLBAR */

.btm-toolbar{
	width:100%;
	position:fixed;
	background-color:rgba(0,0,0,.9);
	bottom:0;
	color:#FFF;
	text-align:center;
}

a .glyphicon,
a .glyphicon:hover,
a .glyphicon:active,
a .glyphicon:active:focus{
	color:#FFF;
	padding-top:8px;
	padding-bottom:10px;
	font-size:28px;
}

.circle-icon{
	width:28px;
	height:28px;
	background-color:rgba(0,0,0,0);
	border:3px solid #FFF;
	border-radius:50%;
	margin:0 auto;
	margin-top:8px;
	margin-bottom:10px;
}

/* LIST PAGE */

.list-bkg{
	overflow:hidden;
}

.gallery-bkg{
	background-image:url(../images/bkg/gallery-bkg.jpg);
	background-repeat:none;
	background-size:cover;
}

.gallery-headline{
	text-transform:uppercase;
	font-size:60px;
	padding-top:30px;
	padding-bottom:15px;
}

.img-gal{
	margin-bottom:50px;
	min-height:300px;
}

/*Enter the nth-child(6) */

/*.img-gal:nth-child(4){
	margin-top:-115px !important;
	margin-bottom:0px !important;
}*/

/* DETAIL PAGE */

.detail-headline{
	padding-top:30px;
}

.detail-bkg{
	height:100%;
	padding-bottom:75px;
}

.horse-bkg{
	background-image:url(../images/bkg/trainers-bkg.jpg);
	background-repeat:none;
	background-size:cover;

}

h1{
	text-align:center;
	font-family:"Trajan Pro", "Garamond", serif;
	font-size:50px;
	font-weight:normal;
	letter-spacing:5px;
}

p{
	font-size:20px;
	line-height:26px;
	font-weight:normal;
}

.stat-row{
	margin-top:20px;
}

.detail-image{
	width:100%;
	max-width:350px;
	padding-top:15px;
	padding-bottom:25px;
	margin:0 auto;
}

.final-row{
	margin-bottom:100px;
}

/*FONTS*/

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/HelveticaNeue.woff') format('woff'),
		url('../fonts/HelveticaNeue.ttf') format('truetype'),
		url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue-Bold.eot');
	src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
		url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
		url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
		url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Trajan Pro';
	src: url('../fonts/TrajanPro-Bold.eot');
	src: url('../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Bold.woff') format('woff'),
		url('../fonts/TrajanPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Trajan Pro';
	src: url('../fonts/TrajanPro-Regular.eot');
	src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Regular.woff') format('woff'),
		url('../fonts/TrajanPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
