html, 
body{
	width:100%;
	height:100%;
	color:#FFF;
	font-size:20px;
	line-height:26px;
}

.disable-select{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

div.main.ng-scope{
	/*height:100% !important;*/
}

.container-fluid{
	/*height:100%;*/
}

.no-pad{
	padding:0px;
}

a{
	color:#FFF;
}

.bold{
	font-weight:bold;
}

br{
	margin-bottom:15px;
}

li{
	list-style:none;
	text-decoration:none;
	margin-top:-50px !important;
	margin-bottom:0px !important;
}

/* TOOLBAR */

.btm-toolbar{
	width:100%;
	position:fixed;
	background-color:#FFF;
	bottom:0;
	color:#CCC;
	text-align:center;
	height:45px;
}

.arrow-row{
	top:8px;
	position:relative;
}

a .glyphicon{
	color:#CCC;
	/* font-size:28px; */
	font-size:30px;
	transition:.03s;
}

a .glyphicon:hover,
a .glyphicon:active,
a .glyphicon:active:focus{
	color:#888;
}

/* LIST PAGE */

.list-bkg{
	overflow:hidden;
}

.gallery-bkg{
	background-image:url(../images/bkg/gallery-bkg.jpg);
	background-repeat:none;
	background-size:cover;
}

/*Enter the nth-child(6) */

/*.img-gal:nth-child(4){
	margin-top:-115px !important;
	margin-bottom:0px !important;
}*/

/* DETAIL PAGE */

.detail-headline{
	padding-top:30px;
}

h1{
	text-align:center;
	font-size:50px;
	font-weight:normal;
	letter-spacing:5px;
}

p{
	font-size:20px;
	line-height:26px;
	font-weight:normal;
}

.stat-row{
	margin-top:26px;
}

.detail-image{
	width:100%;
	max-height:989px;
	/* max-width:768px; */
	margin:0 auto;
}

/*FONTS*/

/* @font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/HelveticaNeue.woff') format('woff'),
		url('../fonts/HelveticaNeue.ttf') format('truetype'),
		url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
} */
