   <div class="container-fluid exhibit info horse-bkg detail-bkg" ng-model="exhibits">



    <div class="row">
      <div class="col-xs-12 detail-headline">
        <h1 class="detail-headline">{{exhibits[whichItem].name}} </h1> <!--Looks in controller .js and sees artists is the $scope for data so whichItem is the Array number and the object of name in the JSON file -->
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-12">
  	   <img class="img-responsive detail-image" ng-src="images/trainers/{{exhibits[whichItem].imagename}}.jpg" alt="Photo of {{ exhibits[whichItem].name }}" />
     </div>
    </div>

    <div class="row">
      <div class="col-xs-1"></div>

      <div class="col-xs-10">
        <p class="bio" ng-bind-html="exhibits[whichItem].bio"></p>

        <div class="row stat-row">
          <div class="stats col-xs-6">
            <p class="stats bold">Past Performance</p>
          </div>
        </div>

        <div class="row">
            <div class="stats col-xs-10">
              <p class="stats">Number of Starts: {{ exhibits[whichItem].starts }}</p>
              <p class="stats">Number of Wins: {{ exhibits[whichItem].wins }}</p>
            </div>

            <div class="stats col-xs-2">

            </div>
        </div>
        <!-- END ROW -->

        <div class="row final-row">
          <div class="col-xs-12">
            <p class="earnings">Earnings: {{ exhibits[whichItem].earnings }}</p> 
          </div>
        </div>
      </div>

      <div class="col-xs-1"></div>
    </div>


  </div><!-- END CONTAINER-->
  <div class="btm-toolbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <a href="#/details/{{prevItem}}"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a> 
        </div>
        <div class="col-xs-4">
          <a href="#list"><div class="circle-icon"></div></a>
        </div>
        <div class="col-xs-4">
          <a href="#/details/{{nextItem}}"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
        </div>
    </div>
  </div>
  </div>
