   <div class="container-fluid exhibit info detail-bkg" ng-model="exhibits">
    
    <div class="row">
      <div class="col-sm-12 no-pad">
  	    <img class="img-responsive detail-image" ng-src="images/pages/{{exhibits[whichItem].imagename}}.jpg" alt="Photo of {{ exhibits[whichItem].description }}" />
      </div>
    </div>


  </div><!-- END CONTAINER-->
  <div class="btm-toolbar">
    <div class="container-fluid">
        <div class="pull-left">
            <p class="counter arrow-row"> {{ exhibits[whichItem].order }} / 58</p>
          </div>
      <div class="row pull-right arrow-row">
        <div class="col-xs-12">
            
            <a href="#/details/{{prevItem}}"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a> 
            <a href="#/details/{{nextItem}}"><span class="glyphicon glyphicon-triangle-right glyphicon-right" aria-hidden="true"></span></a>
        </div>
    </div>
  </div>
  </div>
