<div class="container-fluid exhibit info gallery-bkg list-bkg" ng-model="exhibits">
  
  <div class="row">
    <div class="col-xs-12">
      <h1 class="gallery-headline">Gallery</h1>
    </div>
  </div>

  <div class="row">

          <div class="col-xs-4 img-gal exhibt cf" ng-repeat="item in exhibits | filter: query | orderBy: exhibitsOrder:direction"> 
            <a href="#/details/{{ exhibits.indexOf(item) }}"><!--indexOf takes the index of the item in the array. such as [0] -->
              <img ng-src="images/pages/{{item.imagename}}.jpg" alt="Photo of {{item.name}}" class="gallery-img img-responsive">
              <div class="info">
              </div>
            </a>
          </div>
    </div><!-- END ROW -->

</div>
