<div class="container-fluid exhibit info gallery-bkg list-bkg" ng-model="exhibits">
  
  <div class="row">
    <div class="col-xs-12">
      <h1 class="gallery-headline">Trainers</h1>
    </div>
  </div>
  <!-- <div class="search" layout="row" flex md-padding>
    <md-input-container flex layout-padding layout-margin style="border-color:rgba(0,0,0,0.5);">
      <label>Search</label>
      <input ng-model="query" autofocus>
    </md-input-container>
  </div>


      <select ng-model="exhibitsOrder">
        <option value="name">Name</option>
        <option value="label">Label</option>
      </select>


    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div> -->
    <div class="row">

          <div class="col-xs-4 img-gal exhibt cf" ng-repeat="item in exhibits | filter: query | orderBy: exhibitsOrder:direction"> 
            <a href="#/details/{{ exhibits.indexOf(item) }}"><!--indexOf takes the index of the item in the array. such as [0] -->
              <img ng-src="images/trainers/{{item.imagename}}.jpg" alt="Photo of {{item.name}}" class="gallery-img img-responsive">
              <div class="info">
    <!--             <h2>{{item.name}}</h2>
                <h3>{{item.label}}</h3> -->
              </div>
            </a>
          </div>

    </div><!-- END ROW -->

</div>
